body {
    background-image: url("Images/background-pattern.jpg");
}

#currency {
    position: absolute;
    width: 20%;
    padding-top: 10%;
}

#money {
    position: absolute;
    margin-top: -37.5%;
    width: 50%;
}

#value {
    position: absolute;
    right: -4%;
    margin-top: -37%;
    font-size: 70px;
    font-family: Arial;
    font-weight: bold;
}

#text {
    text-align: center;
    font-size: 100px;
    font-style: oblique;
    text-decoration: overline underline;
    text-decoration-skip-ink: none;
}

#prizes {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 20%;
    height: 45%;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
}

#slotHolder {
    background: gray;
    position: absolute;
    left: 25%;
    width: 50%;
    padding-top: 16.67%;
}

#slot1 {
    border: 5px solid black;
    background: gray;
    position: absolute;
    width: 33.33%;
    margin-top: -33.33%;
    padding-top: 32.33%;
    left: -10px;
}

#img1 {
    position: absolute;
    max-width: 100%;
    margin-top: -100%;
}

#slot2 {
    border: 5px solid black;
    background: gray;
    position: absolute;
    width: 33.33%;
    margin-top: -33.33%;
    padding-top: 32.33%;
    left: 33.33%;
    margin-left: -5px;
}

#img2 {
    position: absolute;
    max-width: 100%;
    margin-top: -100%;
}

#slot3 {
    border: 5px solid black;
    background: gray;
    position: absolute;
    width: 33.33%;
    margin-top: -33.33%;
    padding-top: 32.33%;
    right: -10px;
}

#img3 {
    position: absolute;
    max-width: 100%;
    margin-top: -100%;
}

#button {
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: rgb(197,179,88);
    border-radius: 5px;
    border: 2px solid white;
}

#winDiv {
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
    padding-top: 15%;
    font-size: 80px;
    opacity: 0;
}

#win {
    margin-top: -10%;
}
