body {
    background-image: url("Images/background-pattern.jpg");
}

#text {
    text-align: center;
    font-size: 100px;
    font-style: oblique;
    text-decoration: overline underline;
}

#slotHolder {
    background: gray;
    position: absolute;
    left: 25%;
    width: 50%;
    padding-top: 16.66%;
}

#slot1 {
    border: 5px solid black;
    background: white;
    position: absolute;
    width: 33.33%;
    margin-top: -33.33%;
    padding-top: 33.33%;
    left: 0%;
}

#img1 {
    position: absolute;
    max-width: 100%;
    margin-top: -100%;
}

#slot2 {
    border: 5px solid black;
    background: white;
    position: absolute;
    width: 33.33%;
    margin-top: -33.33%;
    padding-top: 33.33%;
    left: 33.33%;
}

#img2 {
    position: absolute;
    max-width: 100%;
    margin-top: -100%;
}

#slot3 {
    border: 5px solid black;
    background: white;
    position: absolute;
    width: 33.33%;
    margin-top: -33.33%;
    padding-top: 33.33%;
    right: 0%;
}

#img3 {
    position: absolute;
    max-width: 100%;
    margin-top: -100%;
}

#button {
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: rgb(197,179,88);
    border-radius: 5px;
    border: 2px solid rgb(197,179,88);
}


/*#lIndicator {
    position: absolute;
    background: gold;

    width: 41.66%;
    height: 100%;
}

#cIndicator {
    position: absolute;
    background: black;
    opacity: 0%;

    width: 16.66%;
    height: 100%;

    left: 50%;
    margin-left: -8.33%;
}

#rIndicator {
    position: absolute;
    background: gold;
    right: 0%;

    width: 41.66%;
    height: 100%;
}
