#text {
    text-align: center;
    font-size: 30px;
}

#slot1 {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    background:red;
    position:relative;
    left:800px;
    top:102px;

}
#slot2 {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    background:green;
    margin:auto;

}
#slot3 {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    background:blue;
    position:relative;
    left:1003px;
    top:-102px;
}

#button{
margin:auto;
}
