#text {
    text-align: center;
    font-size: 30px;
}

#slot1 {
    border: 1px solid blue;
    width: 10%;
    height: 50px;
    background: red;
}

#slot2 {
    border: 1px solid blue;
    width: 10%;
    height: 50px;
    background: green;
    position: absolute;
    margin: auto;
}

#slot3 {
    border: 1px solid blue;
    width: 10%;
    height: 50px;
    background: blue;
}

#button {
    margin: center;
}
